autocommand==2.2.2
beautifulsoup4==4.13.4
certifi==2025.8.3
charset-normalizer==3.4.2
configparser==7.2.0
gevent==25.5.1
greenlet==3.2.4
idna==3.10
iniconfig==2.1.0
irc==20.5.0
jaraco.collections==5.2.1
jaraco.context==6.0.1
jaraco.functools==4.2.1
jaraco.logging==3.4.0
jaraco.stream==3.0.4
jaraco.text==4.0.0
konfig==1.1
legacy-cgi==2.6.3
loads==0.3
more-itertools==10.7.0
packaging==25.0
pluggy==1.6.0
psutil==7.0.0
Pygments==2.19.2
pytest==8.4.1
python-dateutil==2.9.0.post0
pytz==2025.2
pyzmq==27.0.1
requests==2.32.4
setuptools==80.9.0
six==1.17.0
soupsieve==2.7
tempora==5.8.1
typing_extensions==4.14.1
ujson==5.10.0
urllib3==2.5.0
waitress==3.0.2
WebOb==1.8.9
WebTest==3.0.6
ws4py==0.6.0
WSGIProxy2==0.5.1
zope.event==5.1.1
zope.interface==7.2
